<section class="m-5 p-5">
  <header class="pb-3 text-center">
    <h2>About Us</h2>
  </header>
  <div class="d-flex flex-row justify-content-between mt-4">
    <div class="team-card container">
      <div class="row">
        <img src="https://github.com/ms13380.png" width="200px" height="200px" loading="lazy" alt="Jared D.">
      </div>
      <div class="row text-center">
        <p><b>Michael S.</b><br>Github: <a href="https://github.com/ms13380">ms13380</a></p>
      </div>
    </div>
    <div class="team-card container">
      <div class="row">
        <img src="https://github.com/jareddaniel95.png" width="200px" height="200px" loading="lazy" alt="Jared D.">
      </div>
      <div class="row text-center">
        <p><b>Jared D.</b><br>Github: <a href="https://github.com/jareddaniel95">jareddaniel95</a></p>
      </div>
    </div>
    <div class="team-card container">
      <div class="row">
        <img src="https://github.com/AmartinVT.png" width="200px" height="200px" loading="lazy" alt="Jared D.">
      </div>
      <div class="row text-center">
        <p><b>Adam M.</b><br>Github: <a href="https://github.com/AmartinVT">AmartinVT</a></p>
      </div>
    </div>
    <div class="team-card container">
      <div class="row">
        <img src="https://github.com/bl-engineer.png" width="200px" height="200px" loading="lazy" alt="Jared D.">
      </div>
      <div class="row text-center">
        <p><b>Bocar L.</b><br>Github: <a href="https://github.com/bl-engineer">bl-engineer</a></p>
      </div>
    </div>
  </div>
</section>