<section>
    <header>
        <h2>Create Poll</h2>
    </header>
    <section class="create-poll">
        <section>
            <input name="poll-title" placeholder="Title" />
        </section>
        <section>
            <textarea name="poll-desc" placeholder="Description"></textarea>
        </section>
        <section>
            <a href="#" id="add-option">Add option</a>
        </section>
        <section id="poll-options">
            Answer choices:
            <input style="display: block;" class="poll-option" />
            <input style="display: block;" class="poll-option" />
        </section>
        <section>
            <button id="submit-post">Create</button>
        </section>
    </section>
</section>

<script src="/js/create-poll.js"></script>