<section>
    <header>
        <h2>Create Poll</h2>
    </header>
    <section class="create-poll">
        <form id="create-form">
            <section>
                <input name="poll-title" placeholder="Title" required />
            </section>
            <section>
                <textarea name="poll-desc" placeholder="Description"></textarea>
            </section>
            <div>
                Poll expiration:
                <input type="datetime-local" name="poll-exp">
            </div>
            <section>
                <a href="#" id="add-option">Add option</a>
            </section>
            <section id="poll-options">
                Answer choices:
                <div><input style="display: block;" class="poll-option" required /></div>
                <div><input style="display: block;" class="poll-option" required /></div>
            </section>
            <section>
                <button type="submit" id="submit-post">Create</button>
            </section>
        </form>
    </section>
</section>

<script src="/js/create-poll.js"></script>