<div class="container">
  <div class="row" id="cardEvent">
    {{#each polls as |poll|}}
        {{> dash-poll-card poll}}
    {{/each}}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/poll-cards.js"></script>
<script src="/js/edit-poll.js"></script>