<section>
    {{#each polls as |poll|}}
      <div class="w-layout-grid grid">
        <div id="w-node-c5d79c06-3e91-8b7c-8009-5a2d5424fd5f-d7591f67" class="w-container"></div>
        <div id="w-node-_1963aebd-f13d-32b4-b1c0-41d1969563de-d7591f67" class="w-container"></div>
        <div id="w-node-cc2ec5b2-8101-e588-26ad-4a78fd8d7fa4-d7591f67" class="w-container"></div>
        <div id="w-node-_45b935d4-f29a-8792-4380-d8335b3b8567-d7591f67" class="w-container"></div>
        <div id="w-node-fbc2108e-8ebd-9d2c-bcd2-47d98458ca29-d7591f67" class="w-container"></div>
        <div id="w-node-_66c9e8a4-7845-a569-4749-b29ff38fb381-d7591f67" class="w-container"></div>
        {{> poll-card poll}}
        </div>
    {{/each}}
</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/poll-cards.js"></script>
