<div class="container py-5">
  <div class="row">
    {{#each polls as |poll|}}
        {{> poll-card poll}}
    {{/each}}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/poll-cards.js"></script>
