<section class="container">
  <header class="py-3 text-center">
    <h2>Login</h2>
  </header>
  <div class="row d-flex justify-content-center">
    <form class="form login-form col-md-4 mb-4">
      <div class="form-group mb-3">
        <label for="email-login">Email:</label>
        <input class="form-control" type="text" id="email-login" required/>
      </div>
      <div class="form-group mb-3">
        <label for="password-login">Password:</label>
        <input class="form-control" type="password" id="password-login" required/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
</section>
<script src="/js/login.js"></script>
