<div class="container">
  <div class="row" id="cardEvent">
    <h2>{{possessive_grammar user_name}} Polls</h2>
    {{#if polls}}
      {{#each polls as |poll|}}
          {{> poll-card poll}}
      {{/each}}
    {{else}}
      <p>Your polls will appear here.</p>
    {{/if}}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/poll-cards.js"></script>
<script src="/js/edit-poll.js"></script>